@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .animation-delay-1000 {
    animation-delay: 1s;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

@keyframes 

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


/* Terms Scrollbar */

  /* Styles for the scrollbar track (background) */
  .custom-scrollbar::-webkit-scrollbar-track {
    padding-left: 10px;
    background-color: transparent; /* Light grey background */
  }

  /* Styles for the scrollbar handle */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a7f3d0; /* Darker grey scrollbar handle */
    border-radius: 10px; /* Rounded corners for the scrollbar handle */
  }

  /* Optional: Styles for the scrollbar itself (width, etc.) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 7px; /* Width of the scrollbar */
  }

